/* Additional CSS for horizontal card layout */
.horizontal-card {
    max-width: 100%;
  }
  
  .horizontal-card .card-img {
    width: 150px;
    height: 150px;
  }

  .custom-button {
    background-color: #f74e70 !important;
    border-color: #f74e70;
    color: white; /* Optional: Set text color */
  }
  
  /* Adjust styling as needed */
  