<div
  aria-hidden="true"
  aria-labelledby="searchModal"
  class=" modal modal-search fade"
  id="searchModal"
  role="dialog"
  tabindex="-1"
>
  <div class=" modal-dialog" role="document">
    <div class=" modal-content">
      <div class=" modal-header">
        <input
          class=" form-control"
          id="inlineFormInputGroup"
          placeholder="SEARCH"
          type="text"
        />

        <button
          aria-label="Close"
          class=" close"
          data-dismiss="modal"
          type="button"
        >
          <i class=" tim-icons icon-simple-remove"> </i>
        </button>
      </div>
    </div>
  </div>
</div>
<div class=" content">
  <div class=" row">
    <div class=" col-md-12">
      <div class=" card card-plain">
        <div class=" card-header">Google Maps</div>
        <div class=" card-body"><div class=" map" id="map"></div></div>
      </div>
    </div>
  </div>
</div>
