<div class="content">
    <div class="container">

        <div class=" row">
            <div class=" col-sm-6 text-left">
                <h2 >Import Tables</h2>
                <input type="file" appReadexcel (eventEmitter)="DataFromEventEmitter($event)" />

            </div>
            <div class=" col-sm-6 text-right">
                <button class="btn btn-group" (click)="submitClicked()" [disabled]="disableButton" [routerLink]="['/dashboard/:id']">
                    Submit
                </button>

            </div>

        </div>

    </div>

    <div class="container" *ngIf ="showTable">
        <table class=" table tablesorter" id="">
            <thead class=" text-primary">
              <tr>
                <th>Table</th>
                <th>Rows</th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let n of sheetCount.keys()">
                <td>{{n}}</td>
                <td>{{sheetCount.get(n)}}</td>
                <td>VALID</td>
                
              </tr>
            </tbody>
          </table>
    </div>


</div>