
<body>
    <div class="main-panel">
        <div class="container">


            <div class=" row">
                <div class=" col-sm-6 text-left">
                    <h2 class=" card-title">SCENARIO LIST</h2>
                </div>
            </div>
    
        </div>
        <div class="container">
    
            <div class=" content">
                <div class=" row">
                    <div class=" col-md-12">
                        <div class=" card">
                            <div class=" card-header">
                                <h4 class=" card-title">Scenarios</h4>
                                <button class = "btn btn-light" (click)="open(content)">Test Add</button>
                            </div>
                            <div class=" card-body">
                                <div class=" table-responsive">
                                    <table class=" table tablesorter" id="">
                                        <thead class=" text-primary">
                                            <tr>
                                                <th>ID</th>
                                                <th>Current Version</th>
                                                <th>Name</th>
                                                
                                                
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let scn of scenarios.scenarios">
                                                <td>{{scn.scn_id}}</td>
                                                <td>{{scn.version}}</td>
                                                <td>{{scn.name}}</td>
                                                
                                                <td class=" text-center"><button class = "btn btn-light" (click)="viewScn(scn.scn_id,scn.version,scn.name)"[routerLink]="['dashboard']">View</button></td>
                                            </tr>
                                           
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
    
                </div>
            </div>
    
        </div>
    </div>
    <ng-template #content let-modal >
       
            <div class="modal-header">
                <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
                <button type="button" class="btn btn-warning" (click)="modal.dismiss('Cross click')">X</button>
            </div>
            <div class="modal-body">
                
                
                    <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
                        
                        <div clas = "input-group">
                            <label for ="id" ></label>
                            <input name="id" class = "form-control" ngModel required #first="ngModel">
                        </div>
                        <div clas = "input-group">

                            <label for ="name" ></label>
                            <input name="name" ngModel>
                            
                        </div>
                        <div clas = "input-group">
                            <button>Submit</button>
                        </div>
                        
                      </form>
                
            </div>

        
        
    </ng-template>
    
    <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
    
    <hr />
    
    <pre>{{ closeResult }}</pre>
    
</body>