<div class=" content">
  <div class=" row">
    <div class=" col-12">
      <div class=" card card-nav-tabs">

        <div class=" card-header">
          <div class=" row">
            <div class=" col-sm-4 text-left">
              <h5 class=" card-category">Version: {{scnVersion}}</h5>


              <h2 class=" card-title">SCENARIO {{scnId}}: {{scnName}} </h2>


            </div>


          </div>
        </div>

      </div>
    </div>
  </div>
  <ng-template #content let-modal>
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Create/Update Period</h4>
        <button type="button" class="close" (click)="modal.dismiss('Cross click')"><i
            class="tim-icons icon-simple-remove"> </i></button>



      </div>

      <form #f="ngForm" (ngSubmit)="onSubmit(f)" novalidate>
        <div class="modal-body">




          <div clas="input-group">

            <label for="period_start">Starting Period</label>
            <input name="period_start" class="form-control" ngModel required #first="ngModel" style="color:black"
              type="text" placeholder="Example: CYE2022">

          </div>

          <div clas="input-group">

            <label for="period_end">Ending Period</label>
            <input name="period_end" class="form-control" ngModel required #first="ngModel" style="color:black"
              type="text" placeholder="Example: CYE2022">
          </div>

          <div clas="input-group">
            <label for="begin_date">Beginning Date of Starting Period</label>
            <input name="begin_date" class="form-control" ngModel required #first="ngModel" type="date"
              style="color:black">
          </div>
          <div clas="input-group">
            <label for="end_date">End Date of Starting Period</label>
            <input name="end_date" class="form-control" ngModel required #first="ngModel" type="date"
              style="color:black">
          </div>



        </div>
        <div class="modal-footer">

          <div class="input-group">
            <button type="submit" class="btn btn-primary" (click)="modal.dismiss('Cross click')">Submit</button>
          </div>

        </div>
      </form>

    </div>




  </ng-template>


  <div class="row">


    <!-- Period Section -->
    <div class=" col-lg-4 col-md-8">
      <div class=" card card-nav-tabs">
        <div class=" card-body">
          <div class=" row">

            <!-- <div class=" info-icon text-center icon-primary">
                  
                </div> -->
            <div class="col">
              <h4 class="text-center">Period: {{period}}</h4>
              <p class="text-center">
                <a href="javascript:;" routerLinkActive="active" data-target="#myModal" (click)="open(content)">

                  Update Period

                </a>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>

    <div class=" col-lg-4 col-md-8">
      <div class=" card card-nav-tabs">
        <div class=" card-body">
          <div class=" row">

             <div class=" info-icon text-center icon-primary">
                  
                </div> 
            <div class="col">
              <h4 class="text-center">Export Status: Ready</h4>
              <p class="text-center">
                <a href="javascript:;" routerLinkActive="active" data-target="#myModal" >

                  Export Scenario

                </a>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>


    <div class=" col-lg-4 col-md-8">
      <div class=" card card-nav-tabs">
        <div class=" card-body">
          <div class=" row">


            <div class="col">
              <h4 class="text-center">Scenario Notes</h4>
              <p class="text-center">
                <a href="javascript:;" routerLinkActive="active" data-target="#myModal" (click)="open(content)">

                  View Scenario Notes
                </a>
              </p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class=" row">
    <div class=" col-lg-6 col-md-12">
      <div class=" card card-tasks">
        <div class=" card-header">
          <h4 class="card-title">Scenario Actions</h4>

          <!-- THIS DROP DOWN WORKS! REFER TO THIS DROPDOWN -->
          <!-- <div ngbDropdown>

            <button class=" btn btn-link btn-icon" data-toggle="dropdown" ngbDropdownToggle type="button">

              <i class=" tim-icons icon-settings-gear-63"> </i>
            </button>
            <div aria-labelledby="dropdownMenuLink" class=" dropdown-menu-right" ngbDropdownMenu>
              <a href="javascript:void(0)" ngbDropdownItem> Scenario Settings </a>

            </div>
          </div> -->
        </div>
        <div class=" card-body">
          <div class=" table-full-width table-responsive">
            <table class=" table">
              <tbody>
                <tr>

                  <td>
                    <!-- <a routerLink="" routerLinkActive="active" class="simple-text logo-normal">
                      <p class=" title">Change Scenarios</p>
                    </a>
                    <p class=" text-muted">
                      Switch to a different scenario
                    </p> -->
                    <p class="title">
                      <a href="#" routerLinkActive="active">
                        Change scenario
                      </a>
                      <p class=" text-muted">
                        Switch to a different scenario
                      </p>
                  </td>

                </tr>
                <tr>

                  <td>

                    <p class="title">
                      <a href="#" routerLinkActive="active" (click)="createVersion()">
                        Save as new version
                      </a>
                      <p class=" text-muted">
                        Stores a new version of current scenario
                      </p>
                  </td>

                </tr>
                <tr>
                  <td>
                    <p class=" title">Reset Data</p>
                    <p class=" text-muted">
                      Clears the accounts and adjustments tables from current scenario
                    </p>
                  </td>

                </tr>
                <tr>
                  <td>
                    <p class=" title">Clone Scenario</p>
                    <p class=" text-muted">
                      Create a new scenario by copying current scenario into new scenario id
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class=" title">Export Base Tables</p>
                    <p class=" text-muted">
                      Download the base tables representing the organizational structure of the scenario
                    </p>
                  </td>
                </tr>
                <tr>
                  <td>
                    <p class=" title">Delete Scenario</p>
                    <p class=" text-muted">
                      Delete this scenario and all saved versions
                    </p>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class=" col-lg-6 col-md-12">
      <div class=" card card-tasks">
        <div class=" card-header">
          <h4 class=" card-title">Version Log</h4>
        </div>
        <div class=" card-body">
          <div class=" table-full-width table-responsive">
            <table class=" table" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Version</th>
                  <th>Modify Date</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let v of versions">
                  <td>{{v.version}}</td>
                  <td>{{v.modify_date|date}}</td>
                  <td></td>
                  <td class=" text-center"><a>Revert</a></td>
                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
 


  <div class="row">



    <div class=" col-lg12 col-md-12">
      <div class=" card card-tasks">
        <div class=" card-header">
          <h4 class=" card-title">Calculation History</h4>
        </div>
        <div class=" card-body">
          <div class=" table-full-width table-responsive">
            <table class=" table" id="">
              <thead class=" text-primary">
                <tr>
                  <th>Status</th>
                  <th>Calc Date</th>
                  <th>Details</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let v of versions">
                  <td>Success</td>
                  <td>Jan 29,2023</td>
                  <td>View</td>

                </tr>

              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>






    

</div>